.home-white-section {
  background-color: white;
  padding-bottom: 40px;
}

.gallery-section {
  background: white;
}

#image-section{
  width: 100%; 
  height: max(350px, 27vw); 
  object-fit: cover;
  object-position: 25% 50%; 
};
* {
  box-sizing: border-box;
}
.container {
  display: grid;
  grid-template-areas:
    "title description";
  grid-template-columns: 1.5fr 3fr;
  gap: 5px;
  margin-bottom: 70px;
  margin-top: 20px;
  margin-left: 110px;
  margin-right: 110px;
  align-items: center;
}

.container > div {
  padding: 10px;
}
.container > div.title {
  text-align: left;
  grid-area: title;
}
.container > div.description {
  text-align: left;
  margin-left: 5px;
  grid-area: description;
}
