.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 40%;
  min-height: 90%;
  text-align: left;
  border-radius: 30px;
  padding: 30px;
  margin: auto;
  transition: 0.3s;
}

@keyframes enlarge {
  from {transform:scale(1)}
  to {transform:scale(1.03)}
}

.card:hover {
  animation-name: enlarge;
  animation-duration: 0.6s;
  animation-fill-mode: forwards;
}

.card button {
  width: 150px;
}

.time {
  color: #000;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-top: 5px;
  margin-bottom: 5px;
}

.desc {
  color: #000;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  width: 100%;
  flex-shrink: 0;

}