/* Style the Image Used to Trigger the Modal */
#gallery_img {
  display: block;
  width: 100%;
  cursor: pointer;
  transition: 0.3s;
}

#gallery_img:hover {opacity: 0.7;}
/* Modal Content (Image) */


.modal-img {
  position: absolute;
  margin: auto;
  top: 10px;
  bottom: 40px;
  display: block;
  max-width: 100%;
  width: 100%;
  object-fit: cover;
  animation-name: zoom;
  animation-duration: 0.6s;
}

@keyframes zoom {
  from {transform:scale(0)}
  to {transform:scale(1)}
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
  .modal-img {
    width: 100%;
  }
} 